.filters {
  padding: 20px;
  background-color: #f9f9f9;
  border-right: 1px solid #ddd;
}

.filter-category,
.filter-price,
.filter-color,
.filter-size {
  margin-bottom: 20px;
}

.filter-category h3,
.filter-price h3,
.filter-color h3,
.filter-size h3 {
  margin-bottom: 10px;
}

.filter-category select,
.filter-price select,
.filter-color select,
.filter-size select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
